html {
  font-size: 16px;
}

.siteContainer {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background-color: #f3f5f5;
}

@media only screen and (max-width: 760px) {
  body {
  background-color: White;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

p {
    line-height: 1.25rem;
}

/*Header*/

@media only screen and (min-width: 761px) {
  .mobile {
    display: none;
  }
}

.desktop {
  margin-top: 2rem;
}

nav {
  padding: 1rem 0;
  background-color: White;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 1rem 2rem;
}

nav img {
  padding-left: 2rem;
  padding-right: 1rem;
}

nav span {
  font-size: 1rem;
}

@media only screen and (max-width: 760px) {
  .desktop {
    display: none;
  }
}

.mobile img {
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.mobile ul li {
  padding: 0 1.5rem;
}

/*Content*/

.h1-banner {
    padding-bottom: 1rem;
}

.h2-about {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container {
  display: flex;
  padding: 1.5rem;
}

.container-d8d8d8 {
  background-color: #d8d8d8;
}

.container-eaebec {
  background-color: #eaebec;
  padding-bottom: 1rem;
}

.sixty {
  max-width: 60%;
}

.sixty img{
  max-width: 100%;
  height: auto;
}

.forty {
  margin-left: 1.5rem;
}

.forty p {
  padding-bottom: .5rem;
}

.bannerCopy {
  padding: 0 2rem 0 1rem;
}

.startButton {
  display: block;
  padding: .75rem;
  margin-top: 1rem;
  max-width: 100%;
  background-color: #4a4a4a;
  text-align: center;
  color: White;
  text-decoration: none;
}

@media only screen and (min-width: 761px) {
  .sidebar-photo-mobile {
    display: none;
  }
}

.sidebar {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #d8d8d8;
  margin-right: -1.5rem;
}

.sidebar:first-child {
  padding-top: 0;
}

.sidebar:last-child {
  border-bottom: none;
}

#bkgrndFill-top {
  padding-top: 1rem;
  background-color: #d8d8d8;
}

#bkgrndFill-bottom {
  background-color: #d8d8d8;
}

.sidebar-photo {
  max-width: 35%;
  margin-right: 1rem;
}

.sidebar-photo img {
  max-width: 100%;
  height: auto;
}

.infoCopy-first p {
  padding-bottom: .5rem;
}

.infoCopy p {
  padding-bottom: .5rem;
}

.container-title {
  display: block;
  width: 100%;
  text-align: center;
  padding: 2rem 0 1rem 0;
}

@media only screen and (min-width: 761px) {
  .startLearning-Button {
    display: none;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  width: 250px;
  margin: 1rem;
  background-color: White;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  text-decoration: none;
  color: Black;
  transition:box-shadow .5s linear 0;
}

.card:hover {
  box-shadow: 4px 8px 20px 4px rgba(0,0,0,0.5);
}

.card img {
  width: 100%;
  height: auto;
}

.info-card {
  padding: 1rem 1rem;
}

.info-card p {
  padding-bottom: .5rem;
}

.h3-thesis {
  padding: 1.5rem 0 .5rem 0;
}

.thesis {
border-bottom: 1px solid #d8d8d8;
}

.container, .thesis {
  padding-bottom: 2rem;
}

@media only screen and (min-width: 761px) {
  #thesis-mobile {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    display: block;
    padding: 0;
  }
  .sixty {
    max-width: 100%;
  }
  .bannerCopy {
  padding: 2rem 1rem;
  }
  .forty {
    margin-left: 0;
  }
  .h1-banner {
      padding-bottom: 2rem;
  }
  .startButton {
    width: 50%;
  }
  .feature {
    display: none;
  }
  .sidebar:first-child {
    padding-top: 1rem;
  }
  .sidebar {
    display: block;
    margin-right: 0;
    border-bottom: 0;
  }
  .sidebar:last-child {
    padding-bottom: 2rem;
    border-bottom: 1px solid #d8d8d8;
  }
  .sidebar-photo {
    display: none;
  }
  .sidebar-photo-mobile img {
    max-width: 100%;
    height: auto;
  }
  h3 {
    padding-top: 2rem;
  }
  #bkgrndFill-bottom {
    background-color: White;
  }
  .card {
    display: none;
  }
  .container-eaebec {
    background-color: White;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 2rem;
  }
  .startLearning-Button {
    display: block;
    padding: 1rem;
    margin: .25rem 1rem;
    width: 100%;
    background-color: #d8d8d8;
    color: Black;
    text-decoration: none;
  }
  .startLearning-Button:hover {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  }
  #thesis-desktop {
    display: none;
  }
}

/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 3rem 1.5rem;
}

footer div a {
  padding-left: 1rem;
  text-decoration: none;
  color: Black;
}

@media only screen and (max-width: 760px) {
  footer {
    padding: 1.875rem 1.5rem 3rem 1.5rem;
  }
  footer div a {
    display: none;
  }
}
